.navbar{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.headerFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  p{
    flex-basis: 50%;
    margin-right:80px ;
    flex-wrap: nowrap;
  }
}

